<div id="logIn" 
     style="position: absolute; 
     top: 0px; 
     right: 0px; 
     width: 100%; 
     height: 100%; 
     z-index: 3;">

    <div id="sessionBgColor"
         style="position: absolute;
         width: 100%;
         height: 100%;
         background-color: gray;
         opacity: 0.2;">
    </div>
    
    <div id="logInForm">
        <input id="user_name" 
               style="position: absolute; top: 10px; left: 10px;" 
               type="text" 
               name="keyword" 
               size="31" 
               placeholder="Username"/>
        <input id="user_password" 
               style="position: absolute; top: 40px; left: 10px;" 
               type="password" 
               name="keyword" 
               size="31" 
               placeholder="Password"/>
    </div>
    
    <div id="btnLogIn"
         style="
         position: absolute;
         height: 25px;
         width: 60px;
         top: 70px;
         left: 150px;
         display: block;">
        <div {#id="backgroundColorcloseWindow"#}
             style="position: absolute;
             width: 100%;
             height: 100%;
             background-color: white;
             opacity: 0.5;
             {#display: none;#}">
        </div>
        <div style="
             width: 100%; 
             height: 100%;
             top: 0px;
             right: 0px;
             position: absolute;
             cursor: pointer;
             {#display: none;#}">
         <center>LOG IN</center>
        </div>
    </div>
    
    <div id="btnLogIn2"
         style="
         position: absolute;
         height: 25px;
         width: 60px;
         top: 70px;
         left: 150px;
         display: none;">
        <div {#id="backgroundColorcloseWindow"#}
             style="position: absolute;
             width: 100%;
             height: 100%;
             background-color: white;
             opacity: 0.5;
             {#display: none;#}">
        </div>
        <div style="
             width: 100%; 
             height: 100%;
             top: 0px;
             right: 0px;
             position: absolute;
             cursor: pointer;
             {#display: none;#}">
         <center>LOG IN</center>
        </div>
    </div>
         
    <div id="btnSignUp"
         style="
         position: absolute;
         height: 25px;
         width: 60px;
         top: 70px;
         left: 72px;
         z-index: 3;
         display: block;">
        <div 
             style="position: absolute;
             width: 100%;
             height: 100%;
             background-color: white;
             opacity: 0.5;
             {#display: none;#}">
        </div>
        <div style="
             width: 100%; 
             height: 100%;
             top: 0px;
             right: 0px;
             position: absolute;
             cursor: pointer;
             {#display: none;#}">
         <center>SIGN UP</center>
        </div>
    </div>
</div>