{#icons' images' IMAGES OR VISIBLE CONTENT#}
{{ include('@Home/home/sub/iconImage/video.html.twig') }} 
{{ include('@Home/home/sub/iconImage/uploadVideo.html.twig') }} 

{#search engine option#}

<div id='listBarBgColor'
     style='
     top: 0px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     background-color: gray;
     opacity: 0.2;
     position: absolute;
     '>
</div>