<div id='searchIconContent'
     style="
     position: absolute;
     display: none;
     z-index: 2;
     color: white;
     font-size: small;
     width: 100%;
     top: 0px;
     bottom: 0px;
     overflow-y: scroll;">
    {{ include('@SearchResults/Default/index.html.twig') }}
</div>
    
<div id="searchAreaBgColor" 
     style='
     z-index: 1;
     width: 420px;
     top: 0px;
     bottom: 0px;
     right: 0px;
     background-color: gray;
     opacity: 0.2;
     position: absolute;
     '>
</div>