<div id="videoInformationBgColor" 
     style='
     z-index: 1;
     top: 0px;
     bottom: 0px;
     right: 0px;
     left: 0px;
     background-color: gray;
     opacity: 0.2;
     position: absolute;
     '>
</div>

{{ include('@VideoInformation/Default/index.html.twig') }}