<div id='uploadVideoIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 50px;
     z-index: 1;">
    <img style='
         width:30px; 
         height:30px; 
         opacity: 0.9;
         z-index: 1;' 
         src="files/images/icons/presentation/uploadVideo.png" alt="Mountain View">
</div>
<script>
    var uploadVideoIconButton = document.getElementById('uploadVideoIconButton');
    
    uploadVideoIconButton.addEventListener("click", show_uploadVideoIconContent, false);
    
    function show_uploadVideoIconContent()
    {
        var uploadVideoIconContent = document.getElementById('uploadVideoIconContent');
        
        if (uploadVideoIconContent.style.display == "none")
        {
            clear_options();
            uploadVideoIconContent.style.display = "block";
        } else
        {
            uploadVideoIconContent.style.display = "none";
        }
    }
    
</script>